{% extends "base/base.html" %}
{% load i18n account socialaccount thumbnail %}
{% block title %}
    {% user_display user as user_display %}
    - {% translate "Profile: " %}{{ user_display }}
{% endblock title %}
{% block heading %}
    {% if user.name %}
        {{ user.name }}
    {% else %}
        {% user_display user as user_display %}
        {{ user_display }}
    {% endif %}
{% endblock heading %}
{% block subheading %}
    Joined {{ user.date_joined|timesince }} ago
{% endblock subheading %}
{% block breadcrumbs %}
    <li>
        <a class="button is-ghost is-active"
            href="{% url "project:profile" %}">{% translate "Profile" %}</a>
    </li>
{% endblock breadcrumbs %}
{% block content %}
<div class="box">
    <div class="block">
        <div class="is-flex is-justify-content-space-around">
            {% include "partials/avatar.html" with image_size="128x128" profile=user %}
        </div>
    </div>
    <div class="block">
        <div class="is-flex is-justify-content-space-around">
            <a class="button is-ghost" href={% url "project:profile-update" %}>{% translate "Edit Profile" %}</a>
        </div>
        <div class="block">
            {% include "components/horizontal_field.html" with field_value=user.date_joined|date:"Y, jS M" field_label="Date Joined" is_static="1" %}
            {% include "components/horizontal_field.html" with field_value=user.name field_label="Name" is_static="1" %}
        </div>
    </div>
    <div class="block">
        <strong>
            {% blocktranslate count emailaddress_count=emailaddress|length%}
                Email Address:
            {% plural %}
                Email Addresses:
            {% endblocktranslate %}
        </strong>
        {% for emailaddress in user.emailaddress_set.all %}
            {% if emailaddress.primary %}
                <p class="has-text-success">
                    <strong>{{ emailaddress }}</strong> (<strong>{% translate "Primary" %}</strong>)
                </p>
            {% elif emailaddress.verfied %}
                <p class="has-text-success">{{ emailaddress }} ({% translate "Verified" %})</p>
            {% else %}
                <p>{{ emailaddress }} ({% translate "Unverfied"})</p>
            {% endif %}
        {% endfor %}
    </div>
    <div class="block">
        <div class="is-flex is-justify-content-space-around">
            <a class="button is-ghost" href={% url "socialaccount_connections" %}>{% translate "Manage Social Connections" %}</a>
        </div>
    </div>
</div>
{% endblock content %}
