{% extends "base/base_box.html" %}
{% load i18n %}
{% block title %}
    - {% translate "Log In" %}
{% endblock title %}
{% block box_heading %}
    {% translate "Log In" %}
{% endblock box_heading %}
{% block box_content %}
    {% include "components/social_logins.html" %}
    <div class="block">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="control">{% include "components/primary_form_button.html" with value="Log In" %}</div>
        </form>
    </div>
    <div class="block">
        {% url "account_signup" as url_account_signup %}
        {% include "components/centered_links.html" with url_link=url_account_signup url_text="No account? Sign up" %}
        {% url "account_reset_password" as url_account_reset_password %}
        {% include "components/centered_links.html" with url_link=url_account_reset_password url_text="Forgot password?" %}
    </div>
{% endblock box_content %}
