{% extends "base/base.html" %}
{% block title %}
    - New Password
{% endblock title %}
{% block content %}
    {% if validlink %}
        <h2>Set new password</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Change my password" />
        </form>
    {% else %}
        <p>The password reset link is invalid or it may have been already used.</p>
        <p>Please request a new password reset.</p>
    {% endif %}
{% endblock content %}
