{% extends "base/base_box.html" %}
{% load i18n %}
{% block title %}
    - {% translate "Email Sent" %}
{% endblock title %}
{% block box_heading %}
    {% translate "Email Sent" %}
{% endblock box_heading %}
{% block box_content %}
    <div class="block">
        {% if user.is_authenticated %}Already logged in bro.{% endif %}
        {% blocktrans %}
        <p>We've emailed you instructions for setting your password. You should receive the email shortly.</p>

        <p>Please check your spam mail in case you haven't received this email.</p>
        {% endblocktrans %}
    </div>
{% endblock box_content %}
