{% extends "base/base_box.html" %}
{% load i18n %}
{% block title %}
    - {% trans "Set New Password" %}
{% endblock title %}
{% block box_heading %}
    {% if token_fail %}
        {% trans "Reset Link Failed" %}
    {% else %}
        {% trans "Change Password" %}
    {% endif %}
{% endblock box_heading %}
{% block box_content %}
    <div class="block">
        {% if token_fail %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                {{ include }}
                <input type="submit" value="Change my password" />
            </form>
        {% else %}
            {% url 'account_reset_password' as url_account_reset_password %}
            {% blocktrans %}
                <p>The password reset link was invalid, possibly because it has already been used.</p>

                <p>Please request a <a href="{{ url_account_reset_password }}">new password reset</a>.</p>
                {% endblocktrans %}
        {% endif %}
    </div>
{% endblock box_content %}
