{% extends "base/base_box.html" %}
{% block title %}
    - Forgot Password
{% endblock title %}
{% block box_heading %}
    Reset Password
{% endblock box_heading %}
{% block box_content %}
    <div class="block">We will send instructions on how to reset your password.</div>
    <div class="block">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="control">{% include "components/primary_form_button.html" with value="Send Instructions" %}</div>
        </form>
    </div>
{% endblock box_content %}
