{% extends "base/base.html" %}
{% block title %}
    - Forgot Password
{% endblock title %}
{% block content %}
    <div class="container is-fluid mt-4">
        <div class="panel">
            <h2 class="panel-heading">Reset Password</h2>
            <div class="panel-block">
                <div class="control">
                    <p>We will send instructions on how to reset your password.</p>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="button is-primary" type="submit">Send Instructions</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
