{% extends "base/base_box.html" %}
{% load i18n %}
{% block title %}
    - {% translate "Sign Up" %}
{% endblock title %}
{% block box_heading %}
    {% translate "Sign Up" %}
{% endblock box_heading %}
{% block box_content %}
    {% include "components/social_logins.html" %}
    <div class="block">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="control">{% include "components/primary_form_button.html" with value="Sign Up" %}</div>
        </form>
    </div>
    <div class="block">
        {% url "account_login" as url_account_login %}
        {% include "components/centered_links.html" with url_link=url_account_login url_text="Already have an account? Log in" %}
    </div>
{% endblock box_content %}
