{% load socialaccount %}
{%comment%}
<!-- TODO: list providers using get_providers -->
{% get_providers as socialaccount_providers %}
{% for provider in socialaccount_providers %}{{ provider }}{% endfor %}
{% endcomment %}
<div class="columns">
    <div class="column">
        <a href="{% provider_login_url "google" %}" class="button">
            <span class="icon"><i class="fab fa-google"></i></span>
            <span>
                <p href="{% provider_login_url "google" %}">Continue with Google</p>
            </span>
        </a>
    </div>
</div>
