{% load thumbnail %}
<figure class="image is-{{ image_size }}">
    {% if profile.avatar %}
        {% thumbnail profile.avatar image_size upscale as thumb %}
    {% else %}
        {% thumbnail "https://bulma.io/images/placeholders/{{ image_size }}.png" image_size upscale as thumb %}
    {% endif %}
    <img
        {% if rounded %}
            class="is-rounded"
        {% endif%}
        src="{{ thumb.url }}"
        width="{{ thumb.width }}"
        height="{{ thumb.height }}"
        alt="{{ thumb }}"/>
</figure>
