{% extends "base/base.html" %}
{% load i18n %}
{% block title %}
    - {% translate "Athletes" %}
{% endblock title %}
{% block content %}
    <div class="box">
        <a href={% url "project:athlete-add" %}>Add Athelte by email</a>
        <div class="block">
            <h2 class="title has-text-primary">{% translate "Select Athlete" %}</h2>
            <p class="subtitle has-text-primary">
                {% blocktranslate count athlete_count=athlete_list.count %}
                {% plural %}
                    {{ athlete_count }}
                    listed athletes
                {% endblocktranslate %}
            </p>
        </div>
        <div class="block">
            <div class="field">
                <div class="control has-icons-left">
                    <input class="input" type="text" placeholder="Search Athlete" />
                    <span class="icon is-small is-left">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
            </div>
        </div>
        {% if is_paginated %}
            <span class="pagination is-centered"
                role="navigation"
                aria-label="pagination">
                {% if page_obj.has_previous %}
                    <a class="pagination-previous"
                        href="?page={{ page_obj.previous_page_number }}">{% translate "Previous" %}</a>
                {% endif %}
                {% if page_obj.has_next %}
                    <a class="pagination-next" href="?page={{ page_obj.next_page_number }}">{% translate "Next" %}</a>
                {% endif %}
                <ul class="pagination-list">
                    <li>
                        <a class="pagination-link" aria-label="Goto page 1" href="?page=1">{% translate "First" %}</a>
                    </li>
                    <li>
                        <span class="pagination-ellipsis">&hellip;</span>
                    </li>
                    <li>
                        <a href="?page={{ page_obj.number }}"
                            class="pagination-link is-current"
                            aria-label="Page {{ page_obj.number }}"
                            aria-current="page">{{ page_obj.number }}</a>
                    </li>
                    <li>
                        <span class="pagination-ellipsis">&hellip;</span>
                    </li>
                    <li>
                        <a class="pagination-link"
                            href="?page={{ page_obj.paginator.num_pages }}">{% translate "Last" %}</a>
                    </li>
                </ul>
            </span>
        {% endif %}
        {% if athletes.count == 0 %}
            {% translate "No Athletes Found." %}
        {% endif %}
        {% for athlete in athlete_list %}
            {{ athlete.avatar }}
            <div class="block">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="https://bulma.io/images/placeholders/96x96.png"
                                        alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="strong">{{ athlete.pk }}</p>
                                <p class>{{ athlete.name }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
