{% load static %}
{% load i18n %}
{% load django_htmx %}
{% load l10n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Training Partner" />
        <meta name="keywords" content="Training" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>TrainWithSomeone
            {% block title %}
            {% endblock title %}
        </title>
        {% load django_simple_bulma %}
        {% bulma %}
        {% font_awesome %}
    </head>
    <body>
        <section class="hero is-primary is-fullheight">
            <div class="hero-head">
                {% include "base/navbar.html" %}
                {% if messages %}
                    <div x-data="{open: true}" x-show="open">
                        <div class="container is-fluid block">
                            <div class="notification is-primary is-light">
                                <button @click="open = false" class="delete"></button>
                                <div>
                                    <strong>Recent activity:</strong>
                                    <div>
                                        {% for message in messages %}<p>{{ message }}</p>{% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="hero-body is-justify-content-space-around">
                {% block content %}
                {% endblock content %}
            </div>
            <div class="hero-foot">
                <div class="content has-text-centered">
                    <strong>TrainWithSomeone</strong> by <a class="is-underlined" href="https://shivan.xyz">Shivan Sivakumaran</a>.
                </div>
            </div>
        </section>
        <script src="{% static "js/alpine.min.js" %}" defer></script>
        <script src="{% static "js/htmx.min.js" %}" defer></script>
        {% django_htmx_script %}
    </body>
</html>
