{% load static %}
{% load django_htmx %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Training Partner" />
        <meta name="keywords" content="Training" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Training Partners
            {% block title %}
            {% endblock title %}
        </title>
        {% load django_simple_bulma %}
        {% bulma %}
        {% font_awesome %}
    </head>
    <body>
        <section class="hero is-primary is-fullheight">
            <div class="hero-head">{% include "base/navbar.html" %}</div>
            <div class="hero-body">
                {% block content %}
                {% endblock content %}
            </div>
            <div class="hero-foot">
                <div class="content has-text-centered">
                    <strong>TrainingPartners</strong> by Shivan Sivakumaran.
                </div>
            </div>
        </section>
        <script src='{% static "js/htmx.min.js" %}' defer></script>
        {% django_htmx_script %}
    </body>
    <!-- Alpinejs -->
    <!-- <script src="//unpkg.com/alpinejs" defer></script> -->
</html>
