{% load static active_page account %}
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-start">
        <div class="navbar-brand">
            <a href="{% url "project:index" %}" class="navbar-item title">TrainingWithSomeone</a>
            <a role="button" class="navbar-burger" id="burger">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <div class="navbar-menu" id="nav-links">
        <div class="navbar-end">
            {% if user.is_authenticated %}
                <a class="navbar-item {% get_active_class "project:coach-portal" %}"
                    href="{% url "project:coach-portal" %}">Coach Portal</a>
                <a class="navbar-item {% get_active_class "project:programme-session-list" %}"
                    href="{% url "project:programme-session-list" %}">Your Programme</a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link has-background-black-ter">{% user_display user as user_display %}{{ user_display }}</a>
                    <div class="navbar-dropdown has-background-black-ter">
                        <a class="navbar-item {% get_active_class "project:profile" %}"
                            href="{% url "project:profile" %}">View Profile</a>
                        <hr class="navbar-divider" />
                        <a class="navbar-item {% get_active_class "account_logout" %}"
                            href="{% url 'account_logout' %}">Log Out</a>
                    </div>
                </div>
            {% else %}
                <a class="navbar-item {% get_active_class "account_login" %}"
                    href="{% url "account_login" %}">Log In</a>
                <a class="navbar-item {% get_active_class "account_signup" %}"
                    href="{% url "account_signup" %}">Sign Up</a>
            {% endif %}
        </div>
    </div>
</nav>
<script src="{% static "js/index.js" %}"></script>
