{% load i18n %}
<div class="card">
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                {% include "partials/avatar.html" with profile=athlete.user image_size="96x96" rounded=1 %}
            </div>
            {% with current_week=athlete.programmesession_set.all.current_week %}
                <div class="media-content">
                    <div class="content">
                        <p class="title is-5 has-text-primary">{{ athlete.name }}</p>
                        <p class="subtitle is-7 has-text-primary">
                            {% if current_week.last_trained_session %}
                                {% translate "Trained" %} {{ current_week.last_trained_session.date|timesince }} {% translate "ago" %}
                                {%else%}
                                {%translate "Not trained"%}
                            {% endif %}
                        </p>
                        {% if current_week %}
                        <p>
                                {% with last_session=current_week.last_trained_session %}
                                    {% if last_session %}
                                    <a class="button is-text" href="{{ last_session.get_hx_update_url }}">{% translate "Last Session: " %}{{ last_session.date|date:"l jS" }}</a>
                                    {% endif %}
                                {% endwith %}
                        </p>
                        <p>
                        <small>This week's progress:</small>
                                <progress class="progress {% if current_week.completed_programme_sessions.count == current_week.count %}is-success{% else %}is-warning{% endif %} is-small" value="{{ current_week.completed_programme_sessions.count }}" max="{{ current_week.count }}" />
                                {% if current_week.completed_programme_sessions.count == current_week.count %}
                                    <span class="icon has-text-success">
                                        <i title="Check notes" class="fas fa-check-square"></></i>
                                    </span>
                        </p>
                                {% endif %}
                        {% else %}
                            <div class="notification is-warning is-light">
                                <p>{% translate "Current week not programmed" %}</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endwith %}
        </div>
    </div>
    <div class="card-footer">
        <a href="{{ athlete.get_coach_programme_sessions_url }}"
            class="card-footer-item button is-info is-light">{% translate "View Programme" %}</a>
        <a href="" class="card-footer-item button is-danger is-light">{% translate "Remove Athlete" %}</a>
    </div>
</div>
