{% extends "base/base.html" %}
{% load account %}
{% block content %}
    <div>
        {% if user.is_authenticated %}
            <section class="section hero is-primary">
                {% user_display user as user_display %}
                <h2 class="title">Welcome, {{ user_display }}</h2>
                <p class="subtitle">Coming Soon...</p>
            </section>
        {% else %}
            <section class="section hero is-primary">
                <h2 class="title">Train With Someone</h2>
                <p class="subtitle">Coming Soon | Join...</p>
            </section>
            <div class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Profiles</p>
                        <p class="title">{{ count_profiles }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <a href="{% url "account_login" %}" class="button">Log In</a>
                    </div>
                    <div>
                        <a href="{% url "account_signup" %}" class="button">Sign Up</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}
