{% load thumbnail %}
<div class="media-left">
    <figure class="image is-96x96">
        {% if athlete.user.avatar %}
            {% thumbnail athlete.user.avatar 96x96 upscale as thumb %}
            <img src="{{ thumb.url }}"
                width="{{ thumb.width }}"
                height="{{ thumb.height }}"
                alt="{{ thumb }}"/>
        {% else %}
            <img src="https://bulma.io/images/placeholders/96x96.png"
                width="96"
                height="96"
                alt="fallback"/>
        {% endif %}
    </figure>
</div>
