<div class="media">
    <div class="media-left">
        {% include "partials/avatar.html" with image_size="48x48" rounded=1 %}
    </div>
    <div class="media-content">
        <div class="message">
            <div class="message-body">
                <div class="content">
                    <span>
                        <strong>{{ comment.author_content_object.name }}</strong>
                        <small>{{ comment.history.earliest.history_date|timesince }}</small>
                    </span>
                    <p>{{ comment.content }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
