{% load i18n %}
{% for programme in programmes %}
    <div class="block">
        <h3 class="title is-5 has-text-primary is-underlined">
            <a href="{% url "project:programme-session-detail" programme.pk %}">{{ programme.date|date:"l (jS M)" }}
                {% if programme.session_type %}- {{ programme.get_session_type_display }}{% endif %}
            </a>
        </h3>
        {% with recent=programme.history.last %}
            <p class="subtitle is-6 has-text-primary" title={{ recent.date }}>Last updated: {{ recent.date|timesince }}
            </p>
        {% endwith %}
        {% for exercise in programme.exercise_set.all %}
            <div class="block">
                <p>
                    <p class="has-text-weight-bold">
                        <a href="">{{ exercise }}</a>
                    </p>
                </p>
                <ul>
                    {% for intended_set in exercise.intended.all %}<li>{{ intended_set }}</li>{% endfor %}
                </ul>
                {% if exercise.coach_notes %}
                    <div class="block">
                        <strong>{% translate "Notes" %}</strong>: {{ exercise.coach_notes }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        {% if programme.coach_notes %}
            <div class="block">
                <strong>{% translate "Notes" %}</strong>: {{ programme.coach_notes }}
            </div>
        {% endif %}
    </div>
    <hr />
{% endfor %}
