Pillow
celery[redis]
django
django-allauth
django-celery-beat
django-celery-results
django-debug-toolbar
django-extensions
django-filter
django-grappelli
django-guardian
django-hashid-field
django-htmx
django-mptt
django-nested-admin
django-simple-bulma
django-simple-history
django-softdelete
easy-thumbnails
gunicorn
inflect
psycopg2-binary
redis[hiredis]
sentry-sdk
whitenoise
