{% extends "base/base.html" %}
{% load i18n %}
{% block title %}
    - {% translate "Coaching Portal" %}
{% endblock title %}
{% block heading %}
    {% translate "Coaching Portal" %}
{% endblock heading %}
{% block subheading %}
    {% blocktranslate count athlete_count=coach.athletes.all.count %}
    {% plural %}
        {{ athlete_count }}
        athletes
    {% endblocktranslate %}
{% endblock subheading %}
{% block content %}
    <div class="block">
        <a href="{% url "project:add-athlete" %}"
            class="button is-primary is-outlined is-inverted">
            <span class="icon is-small">
                <i class="fas fa-plus"></i>
            </span>
            <span>{% translate "Add Athlete" %}</span>
        </a>
    </div>
    <div class="block">
        <div class="block">
            <form class="field has-addons"
                method="post"
                name="search"
                hx-post="."
                hx-trigger="keyup delayed:500ms"
                hx-indicator=".htmx-indicator"
                hx-target="#athlete-list"
                hx-select="#athlete-list">
                {% csrf_token %}
                {% for field in form %}
                    <div class="field">
                        <div class="control has-icons-left">
                            {{ field }}
                            {% if field.name == "search" %}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-search" aria-hidden="true"></i>
                                </span>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </form>
            <div class="htmx-indicator">
                <progress class="progress is-small is-info" max="100"></progress>
            </div>
        </div>
        <div id="athlete-list" class="block">
            {% if athletes %}
                {% for athlete in coach.athletes.all %}
                    <div class="tile is-ancestor">
                        {% if not athlete.programmesession_set.all.current_week %}
                            <div class="tile is-parent">
                                <div class="tile is-child">{% include "coaches/portal/partials/athlete_card.html" with athlete=athlete %}</div>
                            </div>
                        {% else %}
                            <div class="tile is-parent">
                                <div class="tile is-child">{% include "coaches/portal/partials/athlete_card.html" with athlete=athlete %}</div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <div class="block">
                    <p class="has-text-centered">No athletes found.</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
