{% extends "base/base.html" %}
{% load i18n thumbnail %}
{% block title %}
    - {% translate "Add Athlete" %}
{% endblock title %}
{% block content %}
{% block heading %}
{% translate "Add Athlete" %}
{% endblock heading %}
{% block subheading %}
{% endblock subheading %}
    <div class="box">
        <div id="new-athlete">
            <div class="block">
                <form 
                 class="field is-addons"
                 method="post"
                    hx-post="{% url "project:add-athlete" %}"
                    hx-target="#new-athlete"
                    hx-select="#new-athlete">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="control">{% include "components/primary_form_button.html" with value="Search" %}</div>
                </form>
            </div>
            {% if new_athlete %}
                <div class="block">
                    <div class="card">
                        <div class="card-content">
                            <div class="media">
                                {% include "partials/avatar.html" with athlete=athlete.user image_size="96x96" rounded=1  %}
                                <div class="media-content">
                            <div class="content">
                                    <p>
                                        <strong>{{ new_athlete.name }}</strong>
                                    </p>
                                </div>
                            </div>
                                <strong>{% translate "Joined" %}</strong>: {{ new_athlete.history.first.history_date|timesince }}
                            </div>
                        </div>
                        <div id="confirm-athlete">
                            <div class="card-footer">
                                {% if confirmed %}
                                    <button class="button is-success is-light"
                                        href="{% url "project:athlete-programme-session-list" new_athlete.profile.user.pk %}">
                                        Successful. Create Programme Session
                                    </button>
                                {% else %}
                                <div class="card-footer-item">
                                    <form method="post"
                                        hx-post="{% url "project:confirm-athlete" %}"
                                        hx-target="#confirm-athlete"
                                        hx-select="#confirm-athlete">
                                        {% csrf_token %}
                                        <input type="hidden" name="athlete" value={{ new_athlete.profile.user.pk }} />
                                        <button type="submit" class="button is-primary is-inverted" value="{% translate "Add" %}" />
                                    </form>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
