{% extends "base/base_box.html" %}
{% load i18n %}
{% block title %}
    - {% translate "Programme for " %} {{ athlete.profile.name }}
{% endblock title %}
{% block box_heading %}
    {% translate "Programme" %}
{% endblock box_heading %}
{% block box_subheading %}
    {{ athlete.profile.name }}
{% endblock box_subheading %}
{% block box_content %}
    <div class="block">
        {% if programmes %}
            {% include "components/programme_list.html" with programmes=programmes %}
        {% else %}
            <p>No Training Sessions.</p>
        {% endif %}
    </div>
    <div class="block">
        <a href="{% url "project:athlete-programme-session-create" athlete.profile.user.pk %}"
            class="button is-primary">
            <span class="icon is-small">
                <i class="fas fa-plus"></i>
            </span>
            <span>{% translate "Add New Programme" %}</span>
        </a>
    </div>
{% endblock box_content %}
