{% extends "base/base_box.html" %}
{% load i18n %}
{% block title %}
    - {% translate "Programme for " %} {{ athlete.profile.name }}
{% endblock title %}
{% block box_heading %}
    {% translate "Create Programme" %}
{% endblock box_heading %}
{% block box_subheading %}
    {{ athlete.profile.name }}
{% endblock box_subheading %}
{% block box_content %}
    <div class="block">
        <form>
            {{ programme_session_formset.management_form }}
            {{ programme_session_formset.non_form_errors }}
            {% for programme_session_form in programme_session_formset.forms %}
                {{ programme_session_form }}
                {% with programme_session_formset.nested as exercise_formset %}
                    {{ exercise_formset.management_form }}
                    {{ exercise_formset.non_form_errors }}
                    {% for exercise_form in exercise_formset.forms %}
                        {{ exercise_form }}
                        {% with exercise_form.nested as exerciseset_formset %}
                            {{ exerciseset_formset.management_form }}
                            {{ exerciseset_formset.non_form_errors }}
                            {% for exerciseset_form in exercise_formset.forms %}{{ exerciseset_form }}{% endfor %}
                        {% endwith %}
                    {% endfor %}
                {% endwith %}
            {% endfor %}
        </form>
    </div>
    <div class="block">
        <a href="" class="button is-primary">
            <span class="icon is-small">
                <i class="fas fa-plus"></i>
            </span>
            <span>{% translate "Add New Programme" %}</span>
        </a>
    </div>
{% endblock box_content %}
