{% extends "base/base.html" %}
{% load account i18n %}
{% block title %}
    - {% translate "Programme" %}
{% endblock title %}
{% block content %}
    <div class="box">
        <div class="block">
            <form method="post" id="coach-select" class="select">
                {% csrf_token %}
                <select name="coach"
                    hx-post="{% url "project:programme-session-list" %}"
                    hx-target="#programmes"
                    hx-select="#programmes"
                    hx-swap="outerHTML">
                    {% for coach in coaches %}
                        <option {% if coach == default_coach %}selected{% endif %} value={{ coach.profile.user.pk }}>
                            {{ coach.name }}
                        </option>
                    {% endfor %}
                </select>
            </form>
        </div>
        <div class="block">
            <div id="programmes">
                {% if programmes %}
                    {% include "components/programme_list.html" with programmes=programmes %}
                {% else %}
                    Select a Coach
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
